body{
	font-family: 'Karla', sans-serif;
	line-height: 1.5;

}
a:hover{
	background-color: #000;
	color: #fff;
}

.navbar-brand:hover{
background-color: darkgrey;
}
.main-heading{
	font-size: 4rem;
	font-weight: 700;
}
.section-heading{
	font-size: 3rem;
	font-weight: 700;
	margin: 5% auto;
}
.sub-heading{
	font-size: 1.7rem;
	font-weight: 700;
}
.small-heading{
	color: #727272;
}
/*Navigation Section*/
.navbar{
	padding: 2% 12.5%;
}
.nav-item{
	padding: 10px 10px;
	
}
.nav-link{
	color: #000;
}
.container-fluid{
	padding: 0;
	background-image: url("images/bg-pattern-intro-right-desktop.svg"), url("images/bg-pattern-intro-left-desktop.svg");
	background-repeat: no-repeat;
	background-position: right top, left center;
}
.container-fluid hr{
	margin-left: 0;
	border: 1px solid lightgrey;
	max-width: 150px;

}
#intro{
	background-color: hsl(256, 26%, 20%);
	color: #fff;
	margin-bottom: 10%;
	position: relative;
	z-index: -1;
}
.intro-content{
	padding: 8% 5% 10% 12.5%; 
	line-height: 2;
	
}
.main-img{
	max-width: 80%;
	position: absolute;
	z-index: -1;
	top: 20%;
	right: 25%;
} 
/*Feature Section*/
#feature{
	padding: 5% 12.5% 5% 12.5% ;
}
.f-icon{
	width: 50px;
	padding: 20px 0;
}
/*Company Description Section*/
#company-descr{
	margin: 5% 12.5% 10% 12.5%;
	background-color: hsl(256, 26%, 20%);
	background-image: url("images/bg-pattern-how-we-work-desktop.svg");
	background-repeat: no-repeat;
	background-position: right top;
	color: #fff;
}
.heading-descr{
padding-left: 8%;
}
.btn-descr {
	text-align: right;
	margin: auto;
	padding: 5% 8% 5% 0;
}
/*Footer Section*/
#footer{
	background-color: lightgrey;
	padding:  5% 12.5% 5% 12.5% ;
	background-image: url("images/bg-pattern-footer-desktop.svg");
	background-repeat: no-repeat;
	background-position: left top;
}
.footer-col ul{
list-style-type: none;
text-decoration: none;
margin: 0;
padding: 0;
}
.footer-col a{
	text-decoration: none;
	color: #000;
}
.footer-col a:hover{
	background-color: #000;
	color: #fff;
}
.flex-container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer-link{
	padding: 0 0 5px 10px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
@media (max-width: 1024px){
	body{
		text-align: center;
	}
	.container-fluid{
	background-image: url("images/bg-pattern-intro-right-mobile.svg");
	background-repeat: no-repeat;
	background-position: right center;
	
}
.container-fluid hr{
	margin: auto;
	}
#mynavbar{
	background-color: hsl(256, 26%, 20%);
	background-image: url("images/bg-pattern-mobile-nav.svg");
	background-repeat: no-repeat;
	background-position: right bottom;
	padding-bottom: 300px;
	
}
#mynavbar a{
	color:#fff;
	
}
#mynavbar a:hover{
	background-color:  hsl(256, 26%, 20%);
	border: 1px solid #fff;
}
.intro-content{
	background-image: url("images/bg-pattern-intro-left-mobile.svg");
	background-repeat: no-repeat;
	background-position: left top;
	}
	.main-img{
	margin: auto;
	max-width: 100%;
	position: initial;
} 

.flex-container{
	display: block;
	text-align: center;
}

#company-descr{
	background-image: url("images/bg-pattern-how-we-work-mobile.svg");
	background-repeat: no-repeat;
	background-position: right top;
}
#footer{
	background-image: url("images/bg-pattern-footer-mobile.svg");
	background-repeat: no-repeat;
	background-position: left top;
	}
}